<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common :: head"></head>
<body><div class="wrap">
<header th:include="common/common :: header"></header>

<main>
	<div class="inner">
		<section id="show_wrapper" class="show_wrapper">
			<div class="show_wrap">
				<div class="title" th:text="#{schedule.detail}">Schedule Detail</div>
				<div class="contents">
					<div class="content">
						<div class="table">
							<div class="tr">
								<div class="th" th:text="#{schedule.time}">Time</div>
								<div class="td" th:text="${#strings.substring(scdl.DATETM,0,10)} + ' ' + ${#strings.substring(scdl.DATETM,11,27)} + ' ' + ${#strings.substring(scdl.DATETM,28,33)}"></div>
							</div>
							<div class="tr">
								<div class="th" th:text="#{schedule.from}">From</div>
								<div class="td" th:text="${scdl.SENDER}"></div>
							</div>
							<div class="tr">
								<div class="th" th:text="#{schedule.content}">Content</div>
								<div class="td">
									<p th:text="${scdl.SCDLCT}"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="buttons">
						<th:block th:if="${session.user_id.equals(scdl.SENDER)}">
							<button id="edit_schedule" class="button" th:text="#{edit}">Edit</button>
							<form th:action="@{/delete/schedule}" method="POST">
								<input type="hidden" name="id" th:value="${scdl.SCDLID}">
								<input type="hidden" name="user" th:value="${scdl.SENDER}">
								<input type="submit" id="delete_schedule" class="button" th:value="#{delete}">
							</form>
						</th:block>
						<button id="close_show_wrapper" class="button" th:text="#{close}">Close</button>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>

<div id="edit_schedule_wrapper" class="post_wrapper">
	<div class="post_wrap">
		<div class="post_title" th:text="#{schedule.edit}">Edit Schedule</div>
		<form class="post_contents" th:action="@{'/edit/schedule'}" method="POST">
			<div class="post_content">
				<div class="table">
					<div class="tr">
						<div class="th" th:text="#{schedule.time}">Time</div>
						<div class="td">
							<input type="datetime-local" id="start_date" class="datetime" name="start_date" th:value="${#strings.substring(scdl.DATETM,0,16)}" required>
							-
							<input type="datetime-local" id="end_date" class="datetime" name="end_date" th:value="${#strings.substring(scdl.DATETM,17,33)}" required>
							<p id="schedule_datetime_error" class="error" th:text="#{schedule.emptyTime}">Please input the schedule time.</p>
						</div>
					</div>
					<div class="tr">
						<div class="th" th:text="#{schedule.from}">From</div>
						<div class="td">
							<input type="hidden" name="id" th:value="${scdl.SCDLID}">
							<input type="text" class="user-name" name="user" readonly th:value="${scdl.SENDER}">
						</div>
					</div>
					<div class="tr">
						<div class="th" th:text="#{schedule.content}">Content</div>
						<div class="td">
							<textarea id="schedule_content" name="schedule" th:text="${scdl.SCDLCT}" required></textarea>
							<p id="schedule_content_error" class="error" th:text="#{schedule.emptyContent}">Please input the schedule content.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="buttons">
				<input type="submit" id="save_edit_schedule" class="button" th:value="#{save}">
				<span id="close_edit_schedule" class="button" th:text="#{close}">Close</span>
			</div>
		</form>
	</div>
</div>

<footer th:include="common/common :: footer"></footer>
</div>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/show_schedule.js}"></script>
</body>
</html>
